/* body - The main bodys for the entire application. */
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #C04848, #480048);
}

/* * - All the elements on the page. */
*{
    box-sizing: border-box;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Font Section| */
/* font-1 - Army of Darkness. */
@font-face {
    font-family: army-of-darkness;
    src: url('../fonts/army-of-darkness/ARMYD___.TTF'); 
}


/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |App Section (Homepage)| */
/* app-component-container - The root component container. (Home Page) */
.app-component-container{
    padding: 10px;
}

.app-component-container > div:nth-child(1){ /* The Front Page Logo Container - (Controller). */
    text-align: center;
    margin-top: 50px;
}

.app-component-container > div:nth-child(2){ /* Powered By | Framework Logos - Parent Container */
    margin-top: 100px;
}

.app-component-container > div:nth-child(2) > div:nth-child(1){ /* Powered By Container */
    text-align: center;
    margin: 20px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 40px;
    color:#e2e8f0;
    letter-spacing: 3px;
}

.app-component-container > div:nth-child(2) > div:nth-child(2){ /* Framework Logos Container */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.app-component-container > div:nth-child(2) > div:nth-child(2) > div{
    width: 200px;
}
.app-component-container > div:nth-child(2) > div:nth-child(2) > div > img[src]{ 
    width: 100%;
    height: 100%;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Main Navigation Section| */
/* main-navigation-component-container - The Main Navigation Component Container. */
.main-navigation-component-container{
    padding: 10px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-navigation-component-container > div:nth-child(1){ /* THE GAME STORE Parent Container (Main Title) */
    font-size: 60px;
    text-align: center;
}
.main-navigation-component-container > div:nth-child(1) > a{
    color: #e2e8f0;
    text-decoration: none;
    letter-spacing: 3px;
}
.main-navigation-component-container > div:nth-child(1) > a:hover{
    color:#e2e8f09a;
    text-decoration: underline;
}

.main-navigation-component-container > div:nth-child(2){ /* Navigation Link | Navigation Buttons Parent Container - (Shop | Search Field | Cart) */
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    margin-top: 40px;
}

.main-navigation-component-container > div:nth-child(2) > div:nth-child(1) > a{ /* Shop Link */
    color: #e2e8f0;
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
}
.main-navigation-component-container > div:nth-child(2) > div:nth-child(1) > a:hover{
    color: #e2e8f09a;
    text-decoration: underline;
}

.main-navigation-component-container > div:nth-child(2) > div > button{ /* Search Field | Cart Buttons*/
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
}
.main-navigation-component-container > div:nth-child(2) > div > button > svg{
    width: 50px;
    fill:#e2e8f0;
}
.main-navigation-component-container > div:nth-child(2) > div > button:hover{
    cursor:pointer;
}
.main-navigation-component-container > div:nth-child(2) > div > button > svg:hover{
    fill: #C04848;
}

.main-navigation-component-container > div:nth-child(2) > div:nth-child(3) > button{ /* Cart Link */
    display: flex;
    align-items: center;
} 
.main-navigation-component-container > div:nth-child(2) > div:nth-child(3) > button > div{
    /* border: 1px solid blue; */
    font-size: 25px;
    color:#C04848;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Shopping Navigation Section| */
/* shoppping-navigation-component-container - The Shopping Navigation Component Container. */
.shopping-navigation-component-container{
    text-align: center;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #e2e8f0;
    margin-top: 20px;
}

.shopping-navigation-component-container > div{ /* All Content inside the shopping navigation container - (Welcome Title | Shopping Category Links) */
    margin: 20px;
}

.shopping-navigation-component-container > div:nth-child(1){ /* Welcome to the store (Welcome Title). */
    font-size: 40px;
    letter-spacing: 5px
}

.shopping-navigation-component-container > div > a{ /* Shopping Category Links (Adventure|Fighting|RPG|Racing|Shooters|Sports) */
    color: #e2e8f0;
    font-size: 30px;
    letter-spacing: 3px;
    text-decoration: none;
}
.shopping-navigation-component-container > div > a:hover{
    color: #e2e8f09a;
    text-decoration: underline;
}
#current-category{ /* Will help to display which category link the user clicked on. */
    color: #fde68a;
    font-size: 35px;
    font-weight: bold; 
    text-decoration: underline;
    letter-spacing: 3px;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Game Category Section| */
/* game-category-component-container - The Game Category Component Container. */
.game-category-component-container{
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 10px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.game-category-component-container > p{ /* Category Title */
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    color: #e2e8f0;
    margin-bottom: 70px;
}

.game-category-component-container > div{ /* Products Parent Container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 135px 100px;
}
.game-category-component-container > div > a{ /* Games (Products) */
    width: 250px;
    height: 200px;
    text-decoration: none;
}
.game-category-component-container > div > a > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .4s ease-out;
}

.game-category-component-container > div > a > p{ /* Product Name | Product Cost */
    margin: 0;
    font-size: 25px;
    letter-spacing: 3px;
    color: #e2e8f0;
}
#products-styled{
    scale: 1.7;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Products Section| */
/* product-component-container - The product component container. */
.product-component-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;

    padding: 10px;
}

.product-component-container > div:nth-child(1){ /* Product Name Container */
    color: #e2e8f0;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
}

.product-component-container > div:nth-child(2){ /* Product Image Container */
    width: 600px;
    height: 450px;
    margin-left: 60px;
}
.product-component-container > div:nth-child(2) > img[src]{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.product-component-container > div:nth-child(3){ /* Product Platform Container */ 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    margin-left: 70px;
}
.product-component-container > div:nth-child(3) > button{
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 1px solid #09090b;
    background-color: inherit;
    font-size: 18px;
    font-weight: bold;
    color: #09090b;
    cursor: pointer;
}
.product-component-container > div:nth-child(3) > button:hover{
    background-color: #fde68a;
    border: 1px solid #fde68a;
}
#product-platform-choose{
    background-color: #fde68a;
    border: 1px solid #fde68a;
}

.product-component-container > div:nth-child(4){ /* Add To Bag Container (Button) */
    margin-left: 70px;
}
.product-component-container > div:nth-child(4) > button{
    padding: 5px 15px 5px 19px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    background: inherit;
    cursor: pointer;
}
.product-component-container > div:nth-child(4) > button:hover{
    background-color: #480048;
}

.product-component-container > div:nth-child(5){ /* Buy It Now Container (Button) */
    margin-left: 70px; 
}
.product-component-container > div:nth-child(5) > button{
    padding: 5px 15px 5px 15px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    background: inherit;
    cursor: pointer;
}
.product-component-container > div:nth-child(5) > button:hover{
    background-color: #480048;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Add To Bag Section| */
/* add-to-bag-component-container - The Add To Bag Component Container. */
.add-to-bag-component-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;

    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 10px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    letter-spacing: 3px;
    overflow-y: scroll;
}

.add-to-bag-component-container > div:nth-child(1){ /* Close Button (X) */
    display: flex;
    justify-content: end; 

    width: 100%;
}
.add-to-bag-component-container > div > button{
    height: 50px;
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
}
.add-to-bag-component-container > div > button > svg{
    width: 100%;
    height: 100%;
    fill:#C04848;
    cursor: pointer;
}
.add-to-bag-component-container > div > button > svg:hover{
    fill:#c048488c;
}

.add-to-bag-component-container > div:nth-child(2){ /* Main Shopping Bag Title */
    flex-basis: 15%;
    color: #C04848;
}

.add-to-bag-component-container > div:nth-child(3){ /* Cart Image Container */
    width: 150px;
    height: 150px;
}
.add-to-bag-component-container > div:nth-child(3) > svg{
    width: 100%;
    height: 100%;
    fill:#C04848;
}

.add-to-bag-component-container > div:nth-child(4){ /* Empty Cart Container */
    margin-top: 40px;
}
.empty-cart{ 
    font-size: 40px;
}

.product-section{ /* Main Product Section - For Products Added To Bag. */
    padding: 10px;
    color: #cbd5e1;
}
.product-section > div:nth-child(1){/* Product Details - (Image|Category|Cost|Name) */
    display: flex;
    gap: 10px;
    
    padding: 10px;
}
.product-section > div:nth-child(1) > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.product-section > div:nth-child(1) > img[src]{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.product-count{ /* Product Count - (-|Quantity|+) */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    padding: 10px;
    margin: 3px;
}
.product-count > button{ 
    background: inherit;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    color:#C04848;
}

.checkout-section{ /* Checkout Section - Checkout (button) | Total Price */
    display: flex;
    gap: 15px;
    align-items: center;

    font-size: 20px;
    padding: 5px;
    color: #cbd5e1;
}
.checkout-section > div > a{
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 3px;
    border: 1px solid #C04848;
    border-radius: 10px;
    background: inherit;
    color: #C04848;
    text-decoration: none;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Search Field Section| */
/* search-field-component-container - The Search field component container. */
.search-field-component-container{
    display: flex;
    flex-direction: column;
    gap: 250px;

    position: fixed;
    top: 0;

    background: #3f3f46d0;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.search-field-component-container > div:nth-child(1){ /* Close Button (X) */
    display: flex;
    justify-content: end;
}
.search-field-component-container > div:nth-child(1) > button{
    width: 50px;
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.search-field-component-container > div:nth-child(1) > button > svg{
    width: 100%;
    fill: white;
}
.search-field-component-container > div:nth-child(1) > button > svg:hover{
    fill: #cbd5e1;
}

.search-field-component-container > div:nth-child(2) > span{ /* Search Box */
    display: flex; 
    align-items: center;

    border-bottom: 1px solid white;
    margin: 0 auto;
    width: 20%;
    margin-top: 100px;
}
.search-field-component-container > div:nth-child(2) > span > div{
    height: 50px;
}
.search-field-component-container > div:nth-child(2) > span > div > svg{
    width: 100%;
    height: 100%;
    fill: white;
}
.search-field-component-container > div:nth-child(2) > span > form > input{
    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    color: white;

}
.search-field-component-container > div:nth-child(2) > span > form > input::placeholder{
    color: white;
    font-size: 20px;
}
.search-field-component-container > div:nth-child(2) > span > form > input:focus{
    outline: none;
    font-size: 20px;
    color: white;
}

.search-field-component-container > div:nth-child(2) > div{ /* Search Found | Search Not Found */
    margin: 50px;
    color:  #e2e8f0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.search-field-component-container > div:nth-child(2) > div > a{
    text-decoration: none;
    color: #e2e8f0;
    font-weight: bold;
}

/***************************************************************************************************************************************************************************/
/***************************************************************************************************************************************************************************/
/* |Media Section| */
/* For mobile and tablet devices. */

/* media-0 - For mobile devices. */
@media only screen and (max-width: 600px){
    /* |App Component Container (Home Page)| */
    .app-component-container > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 30px;
    }
    .app-component-container > div:nth-child(1) > img[src]{ /* The Front Page Logo (Controller) */
        width: 200px;
        height: 100%;
    }

    .app-component-container > div:nth-child(2){ /* Powered By | Framework Logos */
        margin-top: 50px;
    }

    .app-component-container > div:nth-child(2) > div:nth-child(1){  /* Powered By Section */
        text-align: center;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 25px;
        letter-spacing: 4px;
        color:  #e2e8f0;
    }

    .app-component-container > div:nth-child(2) > div:nth-child(2){ /* Framework Logos Section */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: baseline;
        gap: 10px;

        margin-top: 30px;
    }
    .app-component-container > div:nth-child(2) > div:nth-child(2) > div{
        width: 80px;
    }
    .app-component-container > div:nth-child(2) > div:nth-child(2) > div > img[src]{
        width: 100%;
        height: 100%;
    }
    
    /* |Main Navigation Section| */
    .main-navigation-component-container{ 
        margin-top: 30px;
    }

    .main-navigation-component-container > div:nth-child(1){ /* Home Page Link (Main Title)*/
        font-size: 30px;
        letter-spacing: 3px;
        text-align: center;
    }
    .main-navigation-component-container > div:nth-child(1) > a{
        text-decoration: none;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: #e2e8f0;
    }

    .main-navigation-component-container > div:nth-child(2){ /* Links Container = (Shopping Link (Shop) | Search Link | Cart Link) */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        margin-top: 20px;
    }

    .main-navigation-component-container > div:nth-child(2) > div:nth-child(1) > a{ /* Shopping Link (Shop) */
        font-size: 25px;
        color: #e2e8f0;
        text-decoration: none;
        letter-spacing: 3px;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .main-navigation-component-container > div:nth-child(2) > div > button{ /* Search Link | Cart Link */
        width: 45px;
        background: inherit;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .main-navigation-component-container > div:nth-child(2) > div > button > svg{
        width: 100%;
        height: 100%;
        fill: #e2e8f0;
    }

    .main-navigation-component-container > div:nth-child(2) > div:nth-child(3) > button{ /* Cart Link */
        display: flex;
        align-items: center;
    } 
    .main-navigation-component-container > div:nth-child(2) > div:nth-child(3) > button > div{
        font-size: 17px;
        color:#C04848;
    }

    /* |Shopping Section| */
    .shopping-component-container{ 
        text-align: center;
        padding: 10px;
        margin-top: 20px;
        color: #e2e8f0;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .shopping-navigation-component-container{  /* Shopping Navigation Container */
        margin-bottom: 20px;
    }
    .shopping-navigation-component-container > div:nth-child(1){ /* Welcome To The Store (slogan) */
        font-size: 25px;
        letter-spacing: 3px;
    }

    .shopping-navigation-component-container > div:nth-child(n + 2) > a{ /* Adventure|Fighting|RPG|Racing|Shooters|Sports  */
        font-size: 20px;
        text-decoration: none;
        color: #e2e8f0;
        letter-spacing: 3px;
    }
    #current-category{ /* Will help to display which category link the user clicked on. */
        color: #fde68a;
        font-size: 25px;
        font-weight: bold; 
        text-decoration: underline;
        letter-spacing: 3px;
    }

    /* |Game Category Section| */
    .game-category-component-container{
        padding:2px;
        margin-bottom: 50px;
        margin-top: 0;
    }
    .game-category-component-container > p{ /* Category Header = (Adventure|Fighting|RPG|Racing|Shooters|Sports) */
        font-size: 20px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }

    .game-category-component-container > div{ /* Sub container for each category by grid layout. */
        display: grid;
        grid-template-columns: 242px;
        grid-template-rows: auto;
        justify-content: center;
        gap: 90px;

        padding: 10px;
        margin: 0;
    }
    .game-category-component-container > div > a{ /* Games */
        height: 200px;
        background-color: inherit;
        border:1px solid rgba(0, 0, 0, 0);
        color: #e2e8f0;
        text-decoration: none;
    }
    .game-category-component-container > div > a > img[src]{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .game-category-component-container > div > a > p{ /* Name|Cost */
        text-align: start;
        margin: 0;
        font-size: 20px;
        color: #e2e8f0;
        letter-spacing: 3px;
    }

    /* |Product Section| */
    .product-component-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;

        padding: 10px;
    }

    .product-component-container > div:nth-child(1){ /* Product Title */
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        text-align: center;
        letter-spacing: 4px;
        color: #e5e7eb;
        font-size: initial;

    }
    .product-component-container > div:nth-child(2){ /* Product Image Container */
        height: 220px;
        width: initial;
        margin-left: 0;
    }
    .product-component-container > div > img[src]{ /* Product Image */
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .product-component-container > div:nth-child(3){ /* Platform Choice Container */
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        margin-left: 0;
    }
    .product-component-container > div:nth-child(3) > button{ /* Platform Choice Buttons */
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        border: 1px solid #09090b;
        background-color: inherit;
        font-size: 18px;
        font-weight: bold;
        color: #09090b;
    }
    #product-platform-choose{
        background-color: #fde68a;
        border: 1px solid #fde68a;
    }

    .product-component-container > div:nth-child(4){ /* Add To Bag Button (container) */
        margin-left: 0;
    }
    .product-component-container > div:nth-child(4) > button{ 
        padding: 5px 15px 5px 19px;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        color: #e5e7eb;
        background: inherit;
    }

    .product-component-container > div:nth-child(5){ /* Buy It Now Button (container) */
        margin-left: 0;
    }
    .product-component-container > div:nth-child(5) > button{ 
        padding: 5px 15px 5px 15px;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        color: #e5e7eb;
        background: inherit;
    }

    /* |Add To Bag Section| */
    .add-to-bag-component-container{   
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 10px;

        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 20px;
        letter-spacing: 3px;
        overflow-y: scroll;
    }

    .add-to-bag-component-container > div:nth-child(1){ /* Close Button Container (X)*/
        display: flex;
        justify-content: end;

        width: 100%;
    }
    .add-to-bag-component-container > div > button{
        height: 30px;
        background: inherit;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .add-to-bag-component-container > div > button > svg{
        width: 100%;
        height: 100%;
        fill:#C04848;
    }

    .add-to-bag-component-container > div:nth-child(2){ /* Main Shopping Bag Title */
        flex-basis: 15%;
        color: #C04848;
    }

    .add-to-bag-component-container > div:nth-child(3){ /* Cart Image Container*/
        width: 150px;
        height: 150px;
    }
    .add-to-bag-component-container > div:nth-child(3) > svg{
        width: 100%;
        height: 100%;
        fill:#C04848;
    }

    .empty-cart{
        font-size: 30px;
    }

    .product-section{ /* Main Product Section - For Products Added To Bag. */
        padding: 10px;
        color: #cbd5e1;
    }

    .product-section > div:nth-child(1){/* Product Details - (Image|Category|Cost|Name) */
        display: flex;
        gap: 5px;
        
        padding: 10px;
    }
    .product-section > div:nth-child(1) > img[src]{
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }

    .product-count{ /* Product Count - (-|Quantity|+) */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        
        padding: 10px;
        margin: 3px;
    }
    .product-count > button{ 
        background: inherit;
        font-size: 25px;
        border: 1px solid rgba(0, 0, 0, 0);
        color:#C04848;
    }

    .checkout-section{ /* Checkout Section - Checkout (button) | Total Price */
        display: flex;
        gap: 15px;
        align-items: center;

        font-size: 20px;
        padding: 5px;
        color: #cbd5e1;
    }
    .checkout-section > div > a{
        padding: 5px 15px 5px 15px;
        font-size: 20px;
        font-family: army-of-darkness, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        letter-spacing: 3px;
        border: 1px solid #C04848;
        border-radius: 10px;
        background: inherit;
        color: #C04848;
        text-decoration: none;
    }

    /* |Search Field Section| */
    .search-field-component-container{
        display: flex;
        flex-direction: column;
        gap: 250px;

        position: fixed;
        top: 0;
        border: 1px solid #3f3f46d0;
        background: #3f3f46d0;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    
    .search-field-component-container > div:nth-child(1){ /* Close Button (X) */
        display: flex;
        justify-content: end;
    }
    .search-field-component-container > div:nth-child(1) > button{
        width: 40px;
        background: inherit;
        border: 1px solid rgba(0, 0, 0, 0);
    }
    .search-field-component-container > div:nth-child(1) > button > svg{
        width: 100%;
        fill: white;
    }

    .search-field-component-container > div:nth-child(2) > span{ /* Search Box */
        display: flex; 
        align-items: center;

        border-bottom: 1px solid white;
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
    .search-field-component-container > div:nth-child(2) > span > div{
        height: 40px;
    }
    .search-field-component-container > div:nth-child(2) > span > div > svg{
        width: 100%;
        height: 100%;
        fill: white;
    }
    .search-field-component-container > div:nth-child(2) > span > form > input{
        background: inherit;
        border: 1px solid rgba(0, 0, 0, 0);
        padding: 0;
        width: 100%;
        font-size: 20px;
        color: white;
    }
    .search-field-component-container > div:nth-child(2) > span > form > input::placeholder{
        color: white;
        font-size: 20px;
    }
    .search-field-component-container > div:nth-child(2) > span > form > input:focus{
        outline: none;
        font-size: 20px;
        color: white;
    }

    .search-field-component-container > div:nth-child(2) > div{ /* Search Found | Search Not Found */
        margin: 50px;
        color:  #e2e8f0;
        font-size: 20px;
        font-weight: bold;
    }
    .search-field-component-container > div:nth-child(2) > div > a{
        text-decoration: none;
        color: #e2e8f0;
        font-weight: bold;
    }
}
